
  <h1>SWAPI Films</h1>

  <a href="/">Home</a>

  <div>
     {{#each info}}
      <div>
        <h3>{{this.1.title}}</h3>
        <p> {{this.1.opening_crawl}}</p>
        <p>{{this.1.director}}</p>
        
      </div>

      <div>
        <h3>{{this.2.title}}</h3>
        <p> {{this.2.opening_crawl}}</p>
        <p>{{this.2.director}}</p>
      </div>

      <div>
        <h3>{{this.3.title}}</h3>
        <p> {{this.3.opening_crawl}}</p>
        <p>{{this.3.director}}</p>
      </div>

      <div>
        <h3>{{this.4.title}}</h3>
        <p> {{this.4.opening_crawl}}</p>
        <p>{{this.4.director}}</p>
      </div>

      <div>
        <h3>{{this.5.title}}</h3>
        <p> {{this.5.opening_crawl}}</p>
        <p>{{this.5.director}}</p>
      </div>

      
      {{/each}}

  </div>
    


   