
<h1>Swapi People</h1>

<a href="/">Home</a>
   
<div> {{#each info}}
<div class="container">
    
    <div class="box">
        <h3>{{this.0.name}}</h3>
        <p>{{this.0.height}}</p>
        <p>{{this.0.birth_year}}</p>
    </div>
    <div class="box">
        <h3>{{this.1.name}}</h3>
        <p>{{this.1.height}}</p>
        <p>{{this.1.birth_year}}</p>
    </div>
    <div class="box">
        <h3>{{this.2.name}}</h3>
        <p>Height:{{this.2.height}}</p>
        <p>{{this.2.birth_year}}</p>
    </div>
    <div class="box">
        <h3>{{this.3.name}}</h3>
        <p>{{this.3.height}}</p>
        <p>{{this.3.birth_year}}</p>
    </div>
    <div class="box">
        <h3>{{this.4.name}}</h3>
        <p>{{this.4.height}}</p>
        <p>{{this.4.birth_year}}</p>
    </div>
    <div class="box">
        <h3>{{this.5.name}}</h3>
        <p>{{this.5.height}}</p>
        <p>{{this.5.birth_year}}</p>
    </div>
    <div class="box">
        <h3>{{this.6.name}}</h3>
        <p>{{this.6.height}}</p>
        <p>{{this.6.birth_year}}</p>
    </div class="box">

    <div class="box">
        <h3>{{this.7.name}}</h3>
        <p>{{this.7.height}}</p>
        <p>{{this.7.birth_year}}</p>
    </div>

</div>
 {{/each}}
 </div>